{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Batman</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis praesentium delectus asperiores sint odio provident, dignissimos aspernatur at nobis cumque accusantium ut a unde labore eos dolore placeat. Fugit, omnis.</p>
    </div>
    <div class="col-3">
        <img src="assets/img/batman.jpg" class="img-thumbnail" style="padding:0px;margin:0px;">
    </div>
</div>

{{> footer}}